*{
    margin: 0;
    padding: 0;
}

.viewBook {
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    color: white;
    font-size: 20px;
}
/* profile styles */
.profileCard {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    background-color:white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .profileCard p {
    margin: 10px 0;
  }
  
  .profileCard span {
    font-weight: bold;
  }
  